.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  width: 80vw;
  height: auto;
  margin: auto;
  border-radius: 4px;
  overflow: hidden;
}

.btn {
  position: absolute;
  top: 2.5vw;
  right: 3vh;

  display: flex;
  align-items: center;
  padding: 8px;

  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff66;
  transition: background-color 250ms ease-in-out;
}

.btn:hover {
  background-color: #ffffff;
}
